body, .book .book-header, .book .book-summary, .book .book-body {
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  background-color: #FEFEFE;
  font-weight: 200;
}
.markdown-section * {
  /* ITS Black */
  color: #202020;
}
.markdown-section p {
  font-size: 1.75rem
}
.markdown-section h1 {
  /* Black - Bold*/
  color: #202020;
  font-weight: 700;
}
.markdown-section h2 {
 /* ITS Red*/
  color: #C41230;
  font-weight: 700;
}
.markdown-section h3,
.markdown-section h4,
.markdown-section h5 {
  /* ITS Dark Gray*/
  color: #505050;
}
.markdown-section a {
  /* ITS Red*/
  color:  #C41230;
}
.markdown-section a:hover {
  /* Darker Shade of ITS Red*/
  color:  #AA102A;
}
